<form [formGroup]="formAdd" *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" name="text" formControlName="text" id="text" placeholder="Add Task"/>
    <small class="col alert alert-danger" role="alert" *ngIf="formAdd.get('text')?.hasError('required') && formAdd.get('text')?.touched">Enter Task Please</small>
  </div>
  <div class="form-control">
    <label for="day">Date & Time</label>
    <input type="text" name="day" formControlName="day" id="day" placeholder="Add Day & Time"/>
    <small class="col alert alert-danger" role="alert" *ngIf="formAdd.get('day')?.hasError('required') && formAdd.get('day')?.touched">Enter Day Please</small>
  </div>
  <div class="form-control form-control-check">
    <label for="remider">Set Reminder</label>
    <input type="checkbox" name="reminder" formControlName="reminder" id="reminder"/>
  </div>
  <input type="submit" value="Save Task" class="btn btn-clock" >
</form>
